/* .footer_div_main {
  padding: 2rem 5rem;
  background-color: #f3f2f1;
} */

.top_section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5rem;
  background-color: #f3f2f1;
}

.left_section {
  width: 100%;
}

.right_section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.right_section_buttons p {
  font-size: 18px;
  font-weight: 700;
}

.right_section_buttons ul li {
  list-style: none;
  margin-bottom: 10px;
}
.right_section_buttons ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #2d2d2d;
}
.right_section_buttons ul li a:hover {
  text-decoration: underline;
}

.bottom_section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: white;
}

.bottom_section a {
  text-decoration: none;
  color: #2d2d2d;
}

.bottom_section a:hover {
  text-decoration: underline;
}

.bottom_section_left,
.bottom_section_middle {
  font-size: 12px;
}

.bottom_section_left:hover,
.bottom_section_middle:hover {
  color: darkslateblue;
}

.bottom_section_right {
  width: auto;
}

@media screen and (max-width: 768px) {
  .top_section {
    flex-direction: column;
    padding: 3rem 1.5rem;
  }
  .right_section {
    margin-top: 15px;
    flex-direction: column;
    gap: 2rem;
  }
  .left_section {
    margin-bottom: 20px;
  }
  .bottom_section {
    flex-direction: column;
    align-items: center;
  }
  .bottom_section_left,
  .bottom_section_middle,
  .bottom_section_right {
    margin-top: 7px;
  }
}
@media screen and (max-width: 480px) {
  .top_section {
    flex-direction: column;
    padding: 1rem 4rem;
  }
  .left_section {
    margin-bottom: 20px;
  }
}
