.title {
  margin: 5px 0;
  text-align: center;
  font-size: 3rem;
}

.CardContainer {
  width: 100%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.CardDesign {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.6rem;
}

.CardDesign:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImage {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
}

.cardTextContainer {
  padding: 1.5rem;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.cardText {
  margin-top: 0.6rem;
  font-size: 1.6rem;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .title {
    margin: 5px 0;
    text-align: center;
    font-size: 2.1rem;
  }
  .CardContainer {
    width: 95%;
    margin: 2rem auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .CardContainer {
    width: 92%;
    margin: 2rem auto;
    grid-gap: 1rem;
  }

  .cardImage {
    width: 100%;
    height: 16rem;
    border-radius: 0.5rem;
  }

  .cardTextContainer {
    height: 16em;
  }

  .cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .cardText {
    margin-top: 0.6rem;
    font-size: 1.2rem;
    line-height: 1.3;
  }
}
