.CardContainer {
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.CardDesign {
  border-radius: 0.6rem;
  padding: 0.5rem;
  background-color: white;
}

.cardImage {
  width: 100%;
  height: 16rem;
  border-radius: 0.6rem;
  opacity: 1;
  transition: 0.5s ease;
}

.cardImage:hover {
  opacity: 0.8;
}

.cardTextContainer {
  padding: 1rem;
}

.cardTitle {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1rem 0;
  color: rgba(0, 0, 0, 0.719);
}
.cardTitle:hover {
  color: #1967d2;
}

.cardText {
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  color: #696666;
}

.small {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  color: #696666;
}

@media screen and (max-width: 768px) {
  .CardContainer {
    margin: 1rem auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .CardContainer {
    margin: 0;
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
    /* grid-gap: 1rem; */
  }
}
