.homeBlog {
  padding: 20px;
  margin: 2rem auto;
  max-width: 1200px;
}

.homeBlogCol {
  padding: 1rem;
}

.homeBlogTitle {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
}

.homeBlogCard {
  width: 100%;
  height: 35rem;
  padding: 1rem;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
