.container {
  min-height: 100vh;
  display: flex !important;
  flex-direction: row-reverse !important;
  margin: 2.4rem 0;
  gap: 2rem;
}

.heading {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.headingText {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.colDesign {
  box-shadow: 0 4px 8px 0 rgba(123, 237, 252, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 1.3rem;
  }
  .headingText {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .colDesign {
    box-shadow: none;
  }
}
