.footer_div_main {
  margin-left: 5vw;
  margin-right: 5vw;
}

.top_section {
  display: flex;
  justify-content: space-between;
}

.left_section {
  width: 100%;
}


.right_section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.right_section_buttons p {
  font-size: 18px;
  font-weight: 700;
}

.right_section_buttons ul li {
  list-style: none;
}
.right_section_buttons ul li a {
  font-size: 12px;
}
.right_section_buttons ul li a:hover {
  text-decoration: underline;
}

.bottom_section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.bottom_section_left,
.bottom_section_middle {
  font-size: 12px;
}

.bottom_section_left:hover,
.bottom_section_middle:hover {
color: darkslateblue;
}

.bottom_section_right {
  width: auto;
}